section,
div {
  width: 150px;
  height: 150px;
  margin: 20px;
  background-color: yellow;
  font-size: 2rem;
  color: white;
  text-align: center;
}

div {
  background-color: pink;
  display: none;
}

section:hover ~ div:not(:nth-of-type(3)) {
/*  가로로 출력  */
  display: inline-block;
/*  세로로 출력  */
  /* display : block; */
}
